:root {
    --mobile-size: 23.4375rem; /* 375px */
    --desktop-size: 90rem; /* 1440px */

    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-gray500: hsl(0, 0%, 42%);
    --clr-gray950: hsl(0, 0%, 7%);

    --fs-body: 16px;
   
    --fw-500: 500;
    --fw-800: 800;
}

@font-face {
    font-family: 'Figtree-Italic';
    src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype'),
    url('../assets/fonts/AnyConv.com__Figtree-Italic-VariableFont_wght.woff2') format('woff2');
}

@font-face {
    font-family: 'Figtree-Variable';
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype'),
    url('../assets/fonts/AnyConv.com__Figtree-VariableFont_wght.woff2') format('woff2');
}

body {
    font-family: 'Figtree-Variable', Arial;
    font-size: var(--fs-body);
    background-color: var(--clr-yellow);
    max-height: 100vh;
}

.blog-card-container {
    display: grid;
    max-width: 20.4375rem;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    border-color: .0625rem solid var(--clr-gray950);
    padding: 1.5rem;
    box-shadow: 1.125rem solid var(--clr-grey950);
    background-color: var(--clr-white);
    margin-inline: auto;
    margin-top: 5%;
    gap: 1.5rem;
    box-shadow: .5rem .5rem var(--clr-black);
}

.blog-card__img {
    width: 100%;
    border-radius: .625rem;
    -webkit-border-radius: .625rem;
    -moz-border-radius: .625rem;
    -ms-border-radius: .625rem;
    -o-border-radius: .625rem;
}

.blog-card-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: .75rem;
}

.blog-card-cathegory {
    display: block;
    width: 4.65rem; /* width: 4.5625rem; */
    /* height: 1.625rem; */
    background-color: var(--clr-yellow);
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    border-color: 1px solid var(--clr-grey950);
    color: var(--clr-grey950);
    font-weight: var(--fw-800);
    font-size: .75rem;
    padding: .25rem .75rem;
}

.blog-card-date {
    color: var(--clr-gray950);
    font-size: .75rem;
    font-weight: var(--fw-500);
}

.blog-card-title {
    color: var(--clr-gray950);
    font-size: 1.25rem;
    font-weight: var(--fw-800);
}

.blog-card-paragraph {
    color: var(--clr-gray500);
    font-size: .875rem;
}

.blog-card-author {
    display: flex;
    width: 8.0625rem;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
}

.blog-card-author__img {
    width: 2rem;
    height: 2rem;
}

.blog-card-author__p {
    font-size: .93rem;
    font-weight: var(--fw-800);
}

.attribution { 
    font-size: .53333rem;
    text-align: center;
    font-family: 'Figtree-Italic';
}
   
.attribution a {
    color: var(--clr-gray500);
    text-decoration: none;
}